{% extends "layout.html" %}

{% block body %}

<nav class="navBar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='logo-small4.png') }}"
                                                  style="width: 60px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/health_metrics">Health Metrics</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1 sideNav">
        </div>
        <div class="col-sm-10 text-left">
            <div id="main" class="container">
                <div class="page-header">
                    <h1>{{metric.title().replace("_"," ")}}</h1>
                    <a href="/health_metrics" type="button" class="btn btn-default">See All Metrics</a>
                </div>

                <div class="row" style="font-size: 1.5em; text-align: center;">
                    <div class="col-lg-3">{{metric.title().replace("_"," ")}} General Information</div>
                    <div class="col-lg-4">Your Value</div>
                    <div class="col-lg-3">What Does It Mean?</div>
                </div>

                <br />

                <div class="row">
                    <div class="col-lg-3"><div class="well">{{page_info[1]}}</div></div>
                    <div class="col-lg-4"><div class="well">{{page_info[2]}} - {{page_info[0]}}</div></div>
                    <div class="col-lg-3"><div class="well">{{page_info[3]}}</div></div>
                </div>

            </div>
        </div>
        <div class="col-sm-1 sideNav">
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Sense Health Portal<br/>Informatics 172</p>
</footer>

{% endblock %}