{% extends "layout.html" %}

{% block body %}

<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Chromium</a>
    <a href="#">Dietary Cholesterol</a>
    <a href="#">Creatinine</a>
    <a href="#">Dietary Sugar</a>
    <a href="#">Copper</a>
    <a href="#">Lipid Panel</a>
    <a href="#">Chloride</a>
    <a href="#">Calcium</a>
    <a href="#">Insulin</a>
    <a href="#">RBC</a>
    <a href="#">Vitamin C</a>
    <a href="#">WBC</a>
    <a href="#">Vitamin A</a>
    <a href="#">Fasting Glucose</a>
    <a href="#">Iron</a>
    <a href="#">Dietary Energy</a>
    <a href="#">Vitamin B</a>
    <a href="#">TSH</a>
    <a href="#">Platelet</a>
    <a href="#">Zinc</a>
    <a href="#">Caffeine</a>
    <a href="#">Ferritin</a>
    <a href="#">Folate</a>
    <a href="#">Lead</a>
    <a href="#">Hemoglobin</a>
    <a href="#">Carbohydrates</a>
    <a href="#">Biotin</a>
    <a href="#">Fiber</a>
    <a href="#">Glucose</a>
    <a href="#">Hematocrit</a>
</div>

<nav class="navBar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='logo-small4.png') }}"
                                                  style="width: 60px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/user_view">Health View</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1 sideNav">
        </div>
        <div class="col-sm-10 text-left">
            <div id="main" class="container">
                <div class="page-header">
                    <h1>Sense Health Data Analysis</h1>
                    <span onclick="openNav()"><button type="button"
                                                      class="btn btn-default">See All Metrics</button></span>
                </div>
                <div class="row">
                    <div class="col-lg-3"><h3>Health Factors</h3></div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-3"><h1>test</h1></div>
                </div>

                <div class="row">
                    <div class="col-lg-3">test</div>
                    <div class="col-lg-4 well">test</div>
                    <div class="col-lg-3 well">test</div>
                </div>

                <div class="row">
                    <div class="col-lg-3">test</div>
                    <div class="col-lg-4 well">test</div>
                    <div class="col-lg-3 well">test</div>
                </div>

            </div>
        </div>
        <div class="col-sm-1 sideNav">
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Sense Health Portal<br/>Informatics 172</p>
</footer>


<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("sideNav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("sideNav").style.width = "0";
    }
</script>

{% endblock %}